*{
box-sizing: border-box;
}

body {

}

#menuBar{
  display: flex;
  padding: 20px;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 47%;
  margin-right: -50%;
  transform: translate(-50%, -15%);
}

#menuBar a{
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-top: 10px;
  margin: 10px;
  font-family: "Lucida Console";
  border-style: double;
}
#menuBar a:hover{
  color: orange;
  font-family: "Lucida Console";
}

#titleText {
  font-family: "Impact";
  color: white;
  text-align: center;
  font-size: 65px;
}

#titleBanner{
  display: flex;
  background-color: white,1;
  margin-left: 250px;
  margin-right: 250px;
  padding-bottom: 20px;

}
#titleText {
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Lucida Console";
  color: white;
  text-align: center;
}

#mainContainer{
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: orange;
  width: 400px;
  height: 300vh;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
}
#paragraph{
  flex-wrap: wrap;
  text-indent: 50px;
  font-family: "Lucida Console";
  color: white;
  line-height: 15px;
  margin-left: 4px;
  margin-right: 4px;
  text-align: left;
}
#leftContainer{
  position: fixed;
  justify-content: center;
  background-color: orange;
  width: 400px;
  height: 100vh;
  margin-left: 775px;
  margin-right: 0px;
  border-style: solid;
  border-color: black;
}

#leftContainer p{
  justify-content: ;
  color: black;
  margin-left: 150px;
  margin-right: auto;
  padding: 2px;
  width: 100px ;
  height: auto;
  background-color: white;
  font-family: "Arial";
  border-style: double;
}


.video{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
  background: rgba(0,0,0,0.5);
  color: #flflfl;
  width: 100%;
  padding 20px;
}
